.card-detail {
  margin: 0 auto;
  padding: 50px;
  max-width: 500px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.back-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
